pre.prettyprint,
code.prettyprint{
  background-color: #073642;
  font: 500 14px "Inconsolata", "andale mono", "lucida console", monospace;
  font-size: 14px !important;
  @include border-radius(4px);
}

pre.prettyprint {
  margin: 20px 0;
  padding: 10px 10px 0;
  width: 100%;

  code {
    white-space: normal;
  }
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { }

pre .str, code .str { color: #4ae1bb; } /* string  - pink */
pre .kwd, code .kwd { color: #f17c88; }
pre .com, code .com { color: #7e8896; }    /* comment - skyblue */
pre .typ, code .typ { color: #98fb98; } /* type    - lightgreen */
pre .lit, code .lit { color: #ae81ff; } /* literal - darkred */
pre .pun, code .pun { color: #fff; }    /* punctuation */
pre .pln, code .pln { color: #fff; }    /* plaintext */
pre .tag, code .tag { color: #f17c88; } /* html/xml tag    - lightyellow */
pre .atn, code .atn { color: #4fc1e9; } /* attribute name  - khaki */
pre .atv, code .atv { color: #e6db74; } /* attribute value - pink */
pre .dec, code .dec { color: #98fb98; } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
