#weather-results {
  bottom: 20%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 18%;
  will-change: transform, opacity;
  @include transform(translateY(10%));
  @include transition(transform .3s ease-in-out);

  .location {
    bottom: 30px;
    color: rgba(255, 255, 255, .3);
    display: block;
    font-size: 24px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }

  &.show {
    opacity: 1;
    position: fixed;
    @include transform(translateY(0));
    @include animation(vanishIn .5s linear);
  }

  > h1 {
    padding-bottom: 20px;
    text-align: center;
  }

  ul {
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: auto;
    padding: 10px;
    @include border-radius(6px);
    @include display-flex;

    li {
      color: #fff;
      flex-basis: 200px;
      flex-grow: 0;
      flex-shrink: 0;
      list-style-type: none;
      margin: 10px 0;
      padding: 10px 0;
      @include border-radius(3px);

      .dow {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: .6em;
        margin: 20px 0;
        text-align: center;
        text-transform: uppercase;
      }

      .picture {
        height: 120px;
        text-align: center;
        @include border-radius(3px);

        i {
          color: #fff;
          font-size: 120px;
          margin: 20px auto;
          text-align: center;
          @include inline-block(bottom);
        }
      }

      .details {
        line-height: 0;
        padding: 20px 0;
        text-align: center;

        h1 {
          color: #fff;
          display: block;
          font-family: 'Helvetica Neue', 'Open-Bold', sans-serif;
          font-size: 50px;
          font-weight: bold;
          margin: 20px 0 0;
        }

        small {
          color: rgba(#fff, .5);
          display: block;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5em;
          margin-top: 10px;
          min-height: 50px;
        }

        .rating {
          height: 12px;

          img {
            height: 100%;
          }
        }
      }
    }
  }
}
