html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: darken(#19386e, 5%);
  // box-shadow: inset 0 -200px 400px rgba(0,0,0, .1);
  // background-color: #121212;
  // background: linear-gradient(to top, #060213 0%, #0F062E 50%, #19386E 100%);
  // background: linear-gradient(to top, darken(#19386E, 10%) 0%, #19386E 100%);
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue";
  font-size: 13px;
  font-weight: normal;
  height: 100%;
  margin: 0;
  padding: 0;

  &.show-jump {
    #top {
      max-height: 40px;
      opacity: 1;
    }
  }
}

* {
  @include box-sizing(border-box);
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  font-weight: 100;
  line-height: 1.1;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.block {
  display: block;
}

#heading,
#subheading {
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 25%;
  @include transition(all .3s ease-in-out);

  span {
    color: rgb(253, 71, 103);
    // color: rgb(32, 133, 252);
  }
}

#toggleCommands {
  background-color: #3c92e8;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999999;
}

#supported {
  display: none;

  &.show {
    display: block;
  }
}

#subheading {
  line-height: 26px;
  top: 70%;
}

.info {
  background-color: rgba(#e6ffeb, 1);
  color: rgba(#000, .6);
  margin-bottom: 20px;
  margin-top: -20px;
  padding: 20px;
  @include border-radius(2px);
}

.supported-intents {
  background-color: darken(rgba(#19386e, .8), 10%);
  border-radius: 4px;
  color: #fff;
  max-width: 300px;
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 99999;

  ol {
    margin: 0;
    padding: 12px;

    li {
      margin-bottom: 20px;

      span {
        background-color: rgb(253, 71, 103);
        border-radius: 2px;
        display: block;
        margin: 5px 0;
        padding: 4px 8px;
      }
    }
  }
}

#github {
  bottom: 25px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 1000;
  
  iframe {
    margin-right: 5px;
    @include inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

#demo {
  position: absolute;
  left: 0;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 999999;

  > .btn {
    background-color: #3c92e8;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin-right: 20px;
    padding: 8px 12px;
  }

  .speech {
    background-color: #feffe6;
    border-radius: 4px;
    color: #121212;
    display: block;
    max-width: 300px;
    opacity: 0;
    padding: 20px;
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 99999;
    @include transform(translateY(-10%))
    @include transition(all .3s ease-in-out);

    :after {
    	content: '';
    	position: absolute;
    	top: 0;
    	right: 32px;
    	width: 0;
    	height: 0;
    	border: 10px solid transparent;
    	border-bottom-color: #feffe6;
    	border-top: 0;
    	margin-left: -10px;
    	margin-top: -10px;
    }

    &.show {
      opacity: 1;
      @include transform(translateY(0))
    }
  }
}
