*.

# configs
!.babelrc
!.editorconfig
!.eslintignore
!.eslintrc
!.gitignore
!.scss-lint.yml

# generated
node_modules
build
.publish

# testing
test/unit/coverage

# demo
app/js/eleven.js
app/js/eleven.js.map
app/css/
